nav{
    /*étendre le menu navigation sur toute la page*/
    width: 100%;
    background-color: #5E07EB;
    }
    
    nav ul{
    /* reset d'élément de liste */
    margin: 0px;
    padding: 0px;
    }
    
    nav li{
    list-style-type: none;
    /*retirer les puces de la liste */
    float: left;
    /*mettre les elements en ligne*/
    }
    
    nav a{
    display: inline-block;
    text-decoration: none;/*desactiver le trait sous-alignement*/
    padding: 20px 30px;
    color: #FFF;
    text-transform: uppercase;
    }

.menu-ind:hover{
border-top: 5px solid #4C8;
background-color: RGBa(64, 200, 130, 0.15);
margin-left: 20px;
}
.menu-lieux:hover{
border-top: 5px solid #F1DC4F;
background-color: RGBa(241, 211, 79, 0.15)
}

.menu-marcheF:hover{
border-top: 5px solid #5E07EB;
background-color: RGBa(241, 211, 79, 0.15);
}

.menu-act:hover{
border-top: 5px solid #E44D26;
background-color: RGBa(228, 77, 38, 0.15);
}


nav li:hover a{
padding: 15px 30px 20px 30px;
}